.header{
   background: white;
   padding:5px;
   text-align: center;
}
.image{

  position: absolute;
  right: 1400px;
  top: 10px;

}
.name{
  position: absolute;
  right: 1360px;
  top: 18px;
}
.submit{
  position: absolute;
  top: 250px;
  right: 100px;
  width: 400px;
}
.name2{
  position: absolute;
  right: 445px;
  top: 150px;
}
